* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    background-color: rgb(135, 118, 118);
}

main {
    position: relative;
}

section {
    min-height: 100vh;
    border: 2px solid white;
    position: relative;
    z-index: 2;
}

#section-1 {
    nav {
        display: flex;
        color: whitesmoke;
        padding: 10px;
        justify-content: space-between;

        .nav-elm {
            padding: 10px;
        }

        img {
            height: 70px;
            padding: 2px;
            border: 1px;
        }

        h2 {
            font-size: 34px;
            font: optional;
        }
    }

    .mid {
        display: flex;
        padding-top: 150px;
        align-items: center;

        .left {
            flex: 1;
            display: flex;
            gap: 1rem;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            text-align: right;
        }

        h1{
            font-size: 4rem;
            color: whitesmoke;
            line-height: 0.8;
            margin: 0;
        }

        .right {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-left: 20px;
        }
    }
    .bottom {
        display: flex;
            .left {
            flex: 1;
        }
        .right {
            flex: 1;
            display: flex;
            padding-top: 10px;
            color: whitesmoke;
            gap: 5rem;;

            p {
                font-size: 18px;
                line-height: 1.5;
            }
        }
    }

}